/*gobal css File*/
.Recipe{
      width: 50%;
      border: 1px solid #eee;
      box-shadow: 0 2px 3px #ccc;
      padding: 16px;
      margin: 16px auto;
}

.Recipe p{
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
}

.Header{
  background-color:#F8E0E6;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: auto 10px;
  font-size: 28px;
}

#contentHome{
  height: 95%;
  overflow-y: scroll;
  padding-top: 30px;
}

.contentTitle{
  width: 60%;
  color: #fbc3ca;
  text-shadow: 1px 1px 1px #ccc;
  margin-left: auto;
  margin-right: auto;
}

.App_Aside button{
  background-color: white;
  border: 1px solid #A4A4A4;
  border-radius: 5px;
  color:  #F8E0E6;
  text-shadow: 1px 1px 1px #A4A4A4;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#contentHome button{
  background-color:#fbc3ca;
  border: 1px solid #A4A4A4;
  border-radius: 5px;
  color:  white;
  text-shadow: 2px 1px 1px #A8A8A8;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.logout{
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  width: 500px;
  height: 2em;
}

.App_Aside li{
  font-size: 28px;
}

.App_Aside li:hover {
  font-size: 30px;
}

.App_Aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App_Aside .active{
  font-size: 30px;
  text-decoration: underline;
}

.menu{
  margin-top: 100px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
}

.menuLink{
  text-decoration: none;
}

button{
  backgroundColor: 'rose';
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.profileInfo{
  margin-left: 250px;
  margin-right: 250px;
  text-align: left;
  color: #A4A4A4;
}
