/*gobal css File*/
.Recipe{
      width: 60%;
      border: 1px solid #eee;
      box-shadow: 0 2px 3px #ccc;
      padding: 16px;
      margin: 16px auto;
}

.Header{
  background-color:#F8E0E6;
  margin: auto 10px;

}

#content{

  height: 95%;
  overflow-y: scroll;
}

.contentTitle{
  width: 60%;
  color: #fbc3ca;
  text-shadow: 1px 1px 1px #ccc;
  margin-left: auto;
  margin-right: auto;
}

button{
  backgroundColor: 'rose';
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}
